<!DOCTYPE html>
<html lang='en'>
  <head>
    <% provide(:title, "About") %>  
    <%= stylesheet_link_tag "static_page", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
   
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h3>About Denise</h3>
      </div>
    <div class="row">
        <div class="col-md-4">
            <div class="image-responsive">
                <img src="http://res.cloudinary.com/dmcdekker/image/upload/v1471463393/Denise Website/purple_f8s6ca.jpg" alt="denise" class="image-responsive" data-holder-rendered="true" style="height: auto; width: auto; display: block;">
            </div>
        </div>
        <div class="col-md-8">
            <p>Originally from Edinburgh, Scotland, I've lived in the Bay Area since 1994.
               Approximately four years ago, I left a long career in sustainable agriculture to complete my bachelor's degree. 
               Until taking a beginning programming class in Python during my final semester at Laney Community College, I was on 
               track to major in Communication, which changed immediately after learning how to code. After being accepted to 
               Mills College in Oakland, I took a leap and decided to major in Computer Science.
               I graduate from Mills in May 2017 with a B.A. in Computer Science. 
               In addition to being a full-time student, I'm a produce geek, avid chef, and sometime DJ for events at my daughter's school.
               <br>
               <br>
               I’m passionate about the convergence of design, usability, and user experience. Given my extensive background in a client-facing role,
               my goal upon graduating is to work as a Product Manager or Developer.
              </p>
              <br> 
            <h2>EDUCATION</h2> 
            <p> Mills College, Oakland, CA: Bachelor of Arts, Computer Science (Expected May 2017).
            <br>
                Academic Honors: Phi Theta Kappa Scholarship and Dean’s Scholarship.
            <br>    
                Current GPA: 3.87.</p>
            <br>
            <h2>COURSEWORK</h2>
            <p>Web Programming (MEAN stack)
            <br>
            Android Mobile Development (Android Studio, Java)
            <br>
            Computer Architecture (MIPS)
            <br>
            Programming Languages (Haskell, Scheme, C++, Java)
            <br>
            Design Thinking (IDEO)
            <br>
            Visual Design (Photoshop, Illustrator, InDesign, and Animate)
            <br>
             Theory of Algorithms
            <br> 
             Software Engineering (Ruby On Rails, HTML5, HAML, and CSS)		
            <br> 
             UX Design (Use Model, Wireframe, Prototype, Adobe XD)
            <br> 
             Geographic Information Systems & Social Geography (QGIS, Wiki)
            <br> 
             Visible Language (Typography)
            <br> 
             Discrete Mathematics I & II
            <br>
            Data Structures and Algorithms (Java)
             <br>
             Computer Concepts and Intermediate Programming (Java) 
             <br>
             Introduction to Programming (Python, Java, JavaScript)</p>
             <br></p> 
            <h2>ABOUT THIS WEBSITE</h2>
            <p> Built using Cloud9, Ruby On Rails, HTML5, Bootstrap, CSS, and Heroku.
            </p>
        </div>
      </div>
    </div>
  </body> 
</html>

