<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "static_page", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
 
  <h1>About Denise</h1>
  <div class="container-fluid">
  <div class="row-fluid">
    <div class="image-thumbnail">
        <%= image_tag("purple.jpg", :alt => "photo", :height => "325", :width => "200",)%>
    </div>
    <div class="span10">
      <!--Body content-->
    </div>
  </div>
</div>

    