<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "static_page", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <% provide(:title, "About") %>
    
  </head>
<body>
    <section class="jumbotron text-xs-center">
      <div class="container">
        <h3 class="jumbotron-heading">About Denise</h3>
      </div>
    </section>  
    <div class="row">
        <div class="col-md-4">
            <div class="image-responsive">
                <img data-src="assets/purple.jpg" alt="denise" class="image-responsive" src="assets/purple.jpg" data-holder-rendered="true" style="height: 70%; width: 70%; display: block;">
            </div>
        </div>
            <div class="col-md-8">
                <p>Originally from Edinburgh, Scotland, I've lived in the Bay Area since 1994.
                   Approximately three years ago, I left a long career in sustainable agriculture to complete my bachelor's degree. 
                   Until taking a beginning programming class in Python during my final semester at Laney Community College, I was on 
                   track to major in Communication, which changed immediately after learning how to code. I was hooked! After being accepted to 
                   Mills College in Oakland, I took a leap and decided to major in Computer Science with very little math or science background.
                   I will graduate in May 2017 with a B.A. in Computer Science. 
                   <br>
                   <br>
                   I’m passionate about the convergence of design, usability, and user experience. My goal upon graduating 
                   is to work as a Front End Engineer or Developer.
                  </p>
                  <br> 
                <h2>EDUCATION</h2> 
                <p> Mills College, Oakland, CA: Bachelor of Arts, Computer Science (Expected May 2017).</p>   
                <p> Academic Honors: Phi Theta Kappa Scholarship and Dean’s Scholarship.</p> 
                <p> Current GPA: 3.89.</p>
                <br>
                <h2>COURSEWORK</h2>
                <p> Visual Design (Photoshop, Illustrator, InDesign, and Animate)
                <p> Theory of Algorithms
                <p> Software Engineering (Ruby On Rails, HTML5, HAML, and CSS)		
                <p> UX Design (Use Model, Wireframe, Prototype)
                <p> Geographic Information Systems & Social Geography (QGIS, Wiki)
                <p> Visible Language (Typography)
                <p> Discrete Mathematics I & II
                <p> Data Structures and Algorithms (Java)
                <p> Computer Concepts and Intermediate Programming (Java) 
                <p> Introduction to Programming (Python & Java)</p>
                 <br>
                <h2>ABOUT THIS WEBSITE</h2>
                <p> Built using Cloud9, Ruby On Rails, HTML5, Bootstrap, CSS, and Heroku.
                </p>
            </div>
        </div>
    </div>
</body> 


