<!DOCTYPE html>
<html lang='en'>
  <head>
    <% provide(:title, "About") %>  
    <%= stylesheet_link_tag "static_page", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
   
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h3>Contact Denise</h3>
      </div>
     <div class="row">
         <div class="image-responsive">
             <img src="http://res.cloudinary.com/dmcdekker/image/upload/c_scale,w_650/v1474517346/dj_aurhgv.jpg" alt="dj" class="image-responsive" data-holder-rendered="true" style="height: 60%; width: 60%; display: block; float: center;">
         </div>
     </div>
    </div> 

 </body>
 </html>
 
 