<!DOCTYPE html>
<html lang='en'>
  <head>
    <% provide(:title, "Contact") %>  
    <%= stylesheet_link_tag "static_page", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
   
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h3>Contact Denise</h3>
      </div>
     <div class="row">
         <div class="image-responsive">
             <img src="assets/dj.jpg" alt="dj" class="image-responsive" data-holder-rendered="true" style="height: 60%; width: 60%; display: block; float: center;">
         </div>
         <br>
         <h5>Get in touch!</h5>
         
         <h5>Beginning May 2017, I will be available for employment; you ca conntact Denise via email <a href="mailto:denise@dmdekker.io" id="lnkMail">here</a>, or through the LinkedIn icon
         at the bottom of the page. Thanks for looking!</h5>
         <br>
         <br>
         
         
     </div>
    </div> 

 </body>
 </html>
 
 