<!DOCTYPE html>
<html lang='en'>
  <head>
    <% provide(:title, "Home") %>
    <%= stylesheet_link_tag "static_page", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>                                       
    <%= csrf_meta_tags %>
    
      <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
          <meta content="width=device-width, initial-scale=1" name="viewport">
            <meta content="Website" name="description">
              <meta content="D. Dekker" name="author">
                <link href="../../favicon.ico" rel="icon"></link>
                <link href="https://fonts.googleapis.com/css?family=Open+Sans: 300" rel="stylesheet" type="text/css"></link>
                <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'></link>
                <script src="../assets/application.js" type="text/javascript"></script>
              </meta>
            </meta>
          </meta>
        </meta>
      </meta>
    
  </head>
  <body>
    <div class="center jumbotron">  
      <div class="container-jumbotron">
      <h1>My name is Denise and I'm a developer in Oakland, CA</h1>
      </div>
    
    </div>
  </body>  
</html>  

