<!DOCTYPE html>
<html lang='en'>
  <head>
    <% provide(:title, "Home") %>
    <%= stylesheet_link_tag "static_page", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "custom", "data-turbolinks-track" => true %>                                       
    <%= csrf_meta_tags %>
    
     
  </head>
  <body>
    <div class="center jumbotron">  
      <div class="container-jumbotron">
      
      <h1>I'm Denise and I'm a Front End developer living in Oakland, CA</h1>
      </div>
    
    </div>
  </body>  
</html>  

