<!DOCTYPE html>
<html lang='en'>
  <head>
    <% provide(:title, "Home") %>  
    <%= stylesheet_link_tag "static_page", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
   
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h3>Welcome!</h3>
      </div>
    <div class="row">
        <div class="span12 text-center">
            <div class="image-responsive">
                <img src="/assets/denise-glasses.jpg" alt="denise" class="image-responsive" data-holder-rendered="true" display: block;">
            </div>
        </div>
        <div class="col-md-12 text-center box animate fadeInDown two" id="about">
            <h5>Hello, I'm Denise, a newly-minted C.S. graduate in Oakland, California. </h5>
        </div> 
           
            <div class="col-md-12 text-center"> 
                <p>Originally from Edinburgh, Scotland, I've lived in the Bay Area since 1994.
                   Four years ago, I left a career in sustainable agriculture to complete my bachelor's degree. 
                   Until taking a beginning programming class in Python during my final semester at Laney Community College, I was on 
                   track to major in Communication, which changed immediately after learning how to code. After being accepted to 
                   Mills College in Oakland, I took a leap and decided to major in Computer Science and graduate in May 2017.</p>
            </div>       
           
            <div class="col-md-12 text-center"> 
               <p>In addition to being a full-time student, I'm a produce geek, avid chef, and sometime DJ for events at my daughter's school.</p>
            </div>
        
            <div class="col-md-12 text-center">        
               <p>I’m passionate about the convergence of design, accessibility, and user experience, and my goal upon graduating is to work as a Product Manager or Developer.
               Check out my work page! I have worked on a variety of projects as a Front End Developer and UX/UI designer. I'm inspired to
               create equity in access and believe that everyone should have an exceptional experience with web and mobile technologies.</p>
             </div>
             <br>
          
        </div>
  </body> 
</html>

