<!DOCTYPE html>
<html lang='en'>
  <head>
    <% provide(:title, "Resume") %>  
    <%= stylesheet_link_tag "static_page", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
   
  </head>
  <body>
    <div class="container">
     <div class="page-header">
       <br>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
            <h2>TECHNOLOGY SUMMARY</h2>
            <p>[Familiar]: HTML5, CSS, Jade, Bootstrap, Java, Cloud 9, GitHub, Eclipse IDE, Brackets, Axure, MS Office, Adobe XD.<br>
               [Learning]: JavaScript, MEAN Stack, Android, JQuery, Adobe Creative Suite, React.</p>
        </div>
        <div class="col-md-12 text-center">
            <h2>WORK EXPERIENCE</h2>
            <h6>Product Developer/Manager Intern (2016 to current)</h6>
            <p> •	End-to-end redesign of Caravan Studio’s 4Bells app.<br>
                •	Heuristic Evaluation.<br>
                •	Created personas, use model, and high fidelity UI prototype.<br>
                •	Redesign incorporated WCAG accessibility guidelines.<br>
                •	Wrote scripts for, and conducted, user testing.<br>
                •   Incorporated user feedback into second iteration of prototypes. <br> 
                Tools: Adobe XD, Axure.<br></p>
            <h6>Front End Design, CitizensOrg (2016)</h6> 
            <p> •	Principal Front end developer for project.<br>
                •   Designed login, input forms, and dashboard to work with HTTP requests.<br>
                •	Worked to make site responsive for all viewport sizes.<br>
                •	Managed style for site; chose color palette and organized site design/appearance.<br>
                Tools: MEAN stack, Bootstrap.<br></p>
            <h6>UI/UX design, SproutWare (2016)</h6>
            <p> •	Developed a compelling ecommerce site that sold developmentally appropriate and educational toys.<br> 
                •	Heuristic evalution.<br>
                •	Created personas, use model, wireframes, and high fidelity prototype.<br>
                •	Facilitated user testing at wireframe and high fidelity stages of design; incorporated user feedback into designs.<br>
                •	Tools: Axure, Google Forms, Google draw-io, NinjaMock.<br></p>
            <h6>Veritable Vegetable, Inc. (1997 to 2013)</h6>
            <p> •	Purchased extensive line of organic, fresh produce.<br>
                •	Forecasting for long and short-term buying.<br>
                •	Managed department deadlines for in-house fleet of trucks; liaised with Trucking Department dispatcher to inform route planning and allocation.<br>
                •	Co-director of Farm and Field Program, an in-house program that connected workers with vendors.<br>
                •	Reduced warehouse workload by streamlining receiving of prebuilt orders.<br>
                •   Introduced color categories for bananas and increased sales by 400%.  
                
<br></p>
</p>
                

        </div>        
        
          
        <div class="col-md-12 text-center"> 
            <h2>EDUCATION</h2>
            <p> Mills College, Oakland <br>
                B.A. in Computer Science <br>
                GPA 3.87 <br>
                Phi Theta Kappa Scholarship (2014)<br>
                Dean’s Scholarship (2015)</p>
        </div>
        
        
          
        <div class="col-md-12 text-center"> 
            <h2>COURSEWORK</h2>
        <div class="col-md-6">
        <p>
          Web Programming (MEAN stack)<br>
          Android Mobile Development (Android Studio, Java) <br>
          Computer Architecture (MIPS) <br>
          Programming Languages (Haskell, Scheme, Java) <br>
          Design Thinking (IDEO) <br>
          Visual Design (Photoshop, Illustrator, InDesign, and Animate) <br>
          Theory of Algorithms <br>
          Software Engineering (Ruby On Rails, HTML5, HAML, CSS)<br></p>
        </div>
        <div class="col-md-6"> 
          <p>
          UX Design (Use Model, Wireframe, Prototype, Adobe XD) <br>
          Geographic Information Systems & Social Geography (QGIS, Wiki) <br>
          Visible Language (Typography) <br>
          Discrete Mathematics I & II <br>
          Data Structures and Algorithms (Java) <br>
          Computer Concepts and Intermediate Programming (Java)<br> 
          Introduction to Programming (Python, Java, JavaScript)</p>
        </div>  
        </div>    
        <br>
        <div class="col-md-3" pull-left>
           <a href="d.m.dekker_resume.pdf" download><button class="btn btn-default">Download Resume</button></a>
        </div>
      
        <div class="col-md-12 text-center"> 
           <h2>GET IN TOUCH!</h2>
           <p>Beginning May 2017, I will be available for employment; you can contact me via <a href="mailto:denise@dmdekker.io" id="lnkMail">email</a>, or through <a href="https://www.linkedin.com/in/denise-m-dekker-64538a5" target="_blank">LinkedIn</a>.
           </p>
           <p>Thanks for looking!</p>
           <br>
           <br>
           <img src="https://res.cloudinary.com/dmcdekker/image/upload/v1474517346/Denise%20Website/dj_aurhgv.jpg" class="thumbnail img-responsive">
        </div>   
           <br>
           <br>
           
         
         
         
     </div>
    </div> 

 </body>
 </html>
 
 