<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "links", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <% provide(:title, "Work") %>
  </head>
  <body>
     <div class="link">
        <section class="jumbotron text-xs-center">
          <div class="container">
            <h3 class="jumbotron-heading">SisterWeb</h3>
          </div>
        </section>
    <div class="row">
        <div class="intro">
            <p>SisterWeb was the first web project I worked on in a software engineering class at Mills College. For our final
             project, the goal to produce a social website that users could log into and interact with each other. SisterWeb was 
             born from our groups' desire to have a platform where women could interact, connect, and find support. As the Front End
             Developer, each page was styled as it came in. There was no formal CSS/HTML instruction; I learned everything on the fly. 
             About a month into the project, I realized that I hadn’t formatted Bootstrap correctly in the application file, so the 
             entire site ended up being entirely hand coded. In accordance with class guidelines and the SaaS textbook we used, HAML 
             and extension .scss were used to style the front end.
            </p>
            <br>
                <p>
                  The home page:
                <br> 
                </p>
                    <img data-src="assets/home.png" alt="home" class="img-responsive" src="assets/home.png" data-holder-rendered="true" style="height: 60%; width: 60%;  display: block;">
            <br>    
                <p>
                  The User Index page:
                <br>
                </p>
                    <img data-src="assets/index.jpg" alt="index" class="img-responsive" src="assets/index.jpg" data-holder-rendered="true" style="height: 60%; width: 60%;  display: block;">
                
            
        </div>
     </div>
  </body>