<!DOCTYPE html>
<html lang='en'>
  <head>
    <% provide(:title, "Work") %>
    <%= stylesheet_link_tag "static_page", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  
  </head>
  <body> 
    <div class="container">
      <div class="page-header">
        <h3>Denise's Work</h3>
      </div>
      
      <div class="album text-muted">
        <div class="container">
          <div class="row">
            <div class="col-xs-6 col-lg-4 card">
              <div data-content="SisterWeb" class="img-responsive">
                <a href="/work/sisterweb"><img src="http://res.cloudinary.com/dmcdekker/image/upload/c_scale,h_432,w_648/v1471478172/sisterweb_final_tkicsb.png" alt="sisterweb" class="img-responsive" data-holder-rendered="true" style="height: 90%; width: 90%; display: block;"></a>
                 <br>
              </div>  
            </div><!--/span-->
            
            <div class="col-xs-6 col-lg-4 card">
                <a href="/work/typography"><img src="http://res.cloudinary.com/dmcdekker/image/upload/c_scale,h_432,w_648/v1471463440/listen_typo_dxdlrg.jpg" alt="listen" class="img-responsive" data-holder-rendered="true" style="height: 90%; width: 90%; display: block;"></a>
                  <br>
            </div><!--/span-->
        
            
            <div class="col-xs-6 col-lg-4 card">
                <a href="/work/ux"><img src="http://res.cloudinary.com/dmcdekker/image/upload/v1471463441/use_model_jgk2as.jpg" alt="use_model" class="img-responsive"  data-holder-rendered="true" style="height: 90%; width: 90%; display: block;"></a>
                  <br>
            </div><!--/span-->
        
          </div>
        </div>
      </div>
    </div>  
  </body> 
</html>