<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "static_page", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
<div class="container-album">
    <section class="jumbotron text-xs-center">
      <div class="container">
        <h3 class="jumbotron-heading">Denise's Work</h3>
      </div>
    </section>
    <div class="container">
     <div class="album text-muted"    
      <div class="row">
        <div class="col-xs-6 col-lg-4 card">
            <h2>SisterWeb</h2>    
          <img data-src="assets/sisterweb.png" alt="sisterweb" src="assets/sisterweb.png" data-holder-rendered="true" style="height: 16em; width: 90%; display: block;">
                <p class="card-text"></p>
        </div><!--/span-->
        <div class="col-xs-6 col-lg-4 card">
            <h2>UX</h2>
          <img data-src="assets/sisterweb.png" alt="use_model" class="img-responsive" src="assets/use_model.png" data-holder-rendered="true" style="height: 16em; width: 90%; display: block;">
                <p class="card-text"></p>
        </div><!--/span-->
        <div class="col-xs-6 col-lg-4 card">
            <h2>Typography</h2>  
          <img data-src="assets/listen_typo.png" alt="typography" class="img-responsive" src="assets/listen_typo.png" data-holder-rendered="true" style="height: 16em; width: 90%; display: block;">
                <p class="card-text"></p>
        </div><!--/span-->
         <div class="col-xs-6 col-lg-4 card">
            <h2>Maps</h2>
          <img data-src="assets/cloropleth.png" alt="poverty map" class="img-responsive" class="img-responsive" src="assets/cloropleth.png"  data-holder-rendered="true" style="height: 16em; width: 90%; display: block;">
                <p class="card-text"></p>
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/span-->
</div>

