<!DOCTYPE html>
<html lang='en'>
  <head>
    <% provide(:title, "Work") %>
    <%= stylesheet_link_tag "static_page", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  
  </head>
  <body> 
    <div class="container">
      <div class="page-header">
        <h3>Denise's Work</h3>
      </div>
      
      
      
      
      <div class="album text-muted">
        <div class="container">
          <div class="row">
            <div class="col-xs-6 col-lg-4 card">
              <div class="hovereffect">
                  <img src="http://res.cloudinary.com/dmcdekker/image/upload/c_scale,h_432,w_648/v1471478172/sisterweb_final_tkicsb.png" alt="sisterweb" class="img img-responsive" data-holder-rendered="true" style="height: 90%; width: 90%; display: block;"></a>
                    <div class="overlay">
                      <h2><a href="/work/sisterweb">SisterWeb ></a></h2>
                      <p>web project</p> 
                    </div>
                </div>  
              </div><!--/span-->
            
            
            <div class="col-xs-6 col-lg-4 card">
              <div class="hovereffect">
                <img src="http://res.cloudinary.com/dmcdekker/image/upload/c_scale,h_432,w_648/v1471463440/listen_typo_dxdlrg.jpg" alt="listen" class="img img-responsive" data-holder-rendered="true" style="height: 90%; width: 90%; display: block;">
                    <div class="overlay">
                        <h2><a href="/work/typography">Typography ></a></h2>
            				<p>letterpress</p> 
                    </div>
               </div>
            </div><!--/span-->
         
        
            <div class="col-xs-6 col-lg-4 card">
               <div class="hovereffect">
                <img src="http://res.cloudinary.com/dmcdekker/image/upload/v1471463441/use_model_jgk2as.jpg" alt="use_model" class="img img-responsive"  data-holder-rendered="true" style="height: 90%; width: 90%; display: block;"></a>
                   <div class="overlay">
                     <h2><a href="/work/ux">UX ></a></h2>
                       <p>website design</p> 
                    </div>
               </div>
            </div><!--/span-->

            
            <div class="col-xs-6 col-lg-4 card">
              <div class="hovereffect">
                <a href="/work/maps"><img src="http://res.cloudinary.com/dmcdekker/image/upload/v1471463653/cloropleth_rmgzct.png" alt="map" class="img img-responsive"  data-holder-rendered="true" style="height: 90%; width: 90%; display: block;"></a>
                  <div class="overlay">
                    <h2><a href="/work/maps">Maps ></a></h2>
                      <p>data visualization</p> 
                      </div>
                  </div>
            </div><!--/span-->
         
        
          </div>
        </div>
      </div>
    </div>  
  </body> 
</html>


