<!DOCTYPE html>
<html lang='en'>
  <head>
    <% provide(:title, "Work") %>
    <%= stylesheet_link_tag "static_page", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  
  </head>
  <body> 
    <div class="container">
      <div class="page-header">
        <h3>Denise's Work</h3>
      </div>
    
      <div class="album text-muted">
        <div class="container">
          <div class="row">
            
            <div class="col-xs-6 col-lg-4 card">
              <div class="hovereffect">
                <img src="http://res.cloudinary.com/dmcdekker/image/upload/c_scale,h_432,w_648/v1475466341/Denise%20Website/Screen_Shot_2016-10-02_at_8.42.55_PM_yklb4q.png" alt="sisterweb" class="img img-responsive" data-holder-rendered="true" style="height: 95%; width: 95%; display: block;"></a>
                  <div class="overlay">
                    <h2><a href="/work/dmdekker">dmdekker.io></a></h2>
                      <p>website design</p> 
                      </div>
                  </div>
            </div><!--/span-->
            
            <div class="col-xs-6 col-lg-4 card">
              <div class="hovereffect">
                <img src="http://res.cloudinary.com/dmcdekker/image/upload/c_scale,h_432,w_643/v1488914918/Screen_Shot_2017-03-06_at_3.35.48_PM_nfqmf0.png" alt="sisterweb" class="img img-responsive" data-holder-rendered="true" style="height: 95%; width: 95%; display: block;"></a>
                  <div class="overlay">
                    <h2><a href="/work/citizensorg">CitizensOrg></a></h2>
                      <p>website design</p> 
                      </div>
                  </div>
            </div><!--/span-->
            
            <div class="col-xs-6 col-lg-4 card">
              <div class="hovereffect">
                <img src="http://res.cloudinary.com/dmcdekker/image/upload/c_scale,h_432,w_643/v1488919250/Screen_Shot_2017-03-07_at_12.39.08_PM_eiuig3.png" alt="sisterweb" class="img img-responsive" data-holder-rendered="true" style="height: 95%; width: 95%; display: block;"></a>
                  <div class="overlay">
                    <h2><a href="/work/4bells">4Bells></a></h2>
                      <p>mobile design</p> 
                      </div>
                  </div>
            </div><!--/span-->
            
            <div class="col-xs-6 col-lg-4 card">
               <div class="hovereffect">
                  <img src="http://res.cloudinary.com/dmcdekker/image/upload/c_scale,h_432,w_648/v1471463441/Denise%20Website/use_model_jgk2as.jpg" alt="sisterweb" class="img img-responsive" data-holder-rendered="true" style="height: 95%; width: 95%; display: block;"></a>
                   <div class="overlay">
                     <h2><a href="/work/ux">UX ></a></h2>
                       <p>website design</p> 
                    </div>
               </div>
            </div><!--/span-->
            
            <div class="col-xs-6 col-lg-4 card">
              <div class="hovereffect">
                  <img src="http://res.cloudinary.com/dmcdekker/image/upload/c_scale,h_432,w_648/v1471463497/Denise%20Website/home_ojfm0h.png" alt="sisterweb" class="img img-responsive" data-holder-rendered="true" style="height: 95%; width: 95%; display: block;"></a>
                    <div class="overlay">
                      <h2><a href="/work/sisterweb">SisterWeb ></a></h2>
                      <p>web project</p> 
                    </div>
                </div>  
              </div><!--/span-->
            
            
            <div class="col-xs-6 col-lg-4 card">
              <div class="hovereffect">
                  <img src="http://res.cloudinary.com/dmcdekker/image/upload/c_scale,h_432,w_648/v1471463440/Denise%20Website/listen_typo_dxdlrg.jpg" alt="sisterweb" class="img img-responsive" data-holder-rendered="true" style="height: 95%; width: 95%; display: block;"></a>
                    <div class="overlay">
                        <h2><a href="/work/typography">Typography ></a></h2>
            				<p>letterpress</p> 
                    </div>
               </div>
            </div><!--/span-->
       
            <div class="col-xs-6 col-lg-4 card">
              <div class="hovereffect">
                <img src="http://res.cloudinary.com/dmcdekker/image/upload/c_scale,h_432,w_648/v1471463653/Denise%20Website/cloropleth_rmgzct.png" alt="sisterweb" class="img img-responsive" data-holder-rendered="true" style="height: 95%; width: 95%; display: block;"></a>
                  <div class="overlay">
                    <h2><a href="/work/maps">Maps ></a></h2>
                      <p>data visualization</p> 
                      </div>
                  </div>
            </div><!--/span-->
            
            
         
        
          </div>
        </div>
      </div>
    </div>  
  </body> 
</html>


