<!DOCTYPE html>
<html lang='en'>
  <head>
    <% provide(:title, "Work") %>
    <%= stylesheet_link_tag "static_page", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  
  </head>
  <body> 
    <div class="container">
      <div class="page-header">
        <br>
      </div>
    
      <div class="row">
        
       <div class="card-deck">
        
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="card">
            <a href="/work/jimg"><img class="card-img-top" src="http://res.cloudinary.com/dmcdekker/image/upload/c_scale,h_432,w_648/v1504041011/jim_card2_dkl0op.png" alt="Card image cap">
              <div class="card-block">  
                <h2 class="card-title">Jim Granato</h2>
                <p class="card-text">web design</p>
              </div></a>
          </div>    
        </div><!--/span-->
           
  
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="card">
            <a href="/work/4bells"><img class="card-img-top" src="https://res.cloudinary.com/dmcdekker/image/upload/c_scale,h_432,w_648/v1492138087/Screen_Shot_2017-04-13_at_3.45.21_PM_qpr2vu.png" alt="Card image cap">
              <div class="card-block">  
                <h2 class="card-title">4Bells</h2>
                <p class="card-text">mobile ui/ux</p>
              </div></a>
          </div>    
        </div><!--/span-->
          
        <div class="col-lg-4 col-md-6 col-xs-12"> 
          <div class="card"> 
            <a href="/work/dmdekker"><img class="card-img-top" src="https://res.cloudinary.com/dmcdekker/image/upload/c_scale,h_432,w_648/v1493701540/denise_website_ugrf8p.png" alt="Card image cap">
              <div class="card-block">  
                <h2 class="card-title">dmdekker.io</h2>
                <p class="card-text">website design</p>
              </div></a>
          </div>   
        </div><!--/span-->
        
        <div class="col-lg-4 col-md-6 col-xs-12"> 
          <div class="card"> 
            <a href="/work/findeatfood"><img class="card-img-top" src="https://res.cloudinary.com/dmcdekker/image/upload/c_scale,h_432,w_648/v1498604496/ingredients_landscape_wx38zd.jpg" alt="Card image cap">
              <div class="card-block">  
                <h2 class="card-title">FindEatFood</h2>
                <p class="card-text">android development</p>
              </div></a>
          </div>   
        </div><!--/span-->
        
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="card">
            <a href="/work/citizensorg"><img class="card-img-top" src="https://res.cloudinary.com/dmcdekker/image/upload/c_scale,h_432,w_648/v1488914918/Screen_Shot_2017-03-06_at_3.35.48_PM_nfqmf0.png" alt="Card image cap">
              <div class="card-block">  
                <h2 class="card-title">CitizensOrg</h2>
                <p class="card-text">website development</p>
              </div></a>
           </div>    
        </div><!--/span-->
        
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="card">
            <a href="/work/sisterweb"><img class="card-img-top" src="https://res.cloudinary.com/dmcdekker/image/upload/c_scale,h_432,w_648/v1471463497/Denise%20Website/home_ojfm0h.png" alt="Card image cap">
              <div class="card-block">  
                <h2 class="card-title">SisterWeb</h2>
                <p class="card-text">website development</p>
              </div></a>
          </div>    
        </div><!--/span-->
      
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="card">
            <a href="/work/ux"><img class="card-img-top" src="https://res.cloudinary.com/dmcdekker/image/upload/c_scale,h_432,w_648/v1471463441/Denise%20Website/use_model_jgk2as.jpg" alt="sisterweb" alt="Card image cap">
              <div class="card-block">
                <h2 class="card-title">SproutWare</h2>
                <p class="card-text">ux design</p>
              </div></a>
          </div>    
        </div><!--/span-->
      
        
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="card">
            <a href="/work/typography"><img class="card-img-top" src="https://res.cloudinary.com/dmcdekker/image/upload/c_scale,h_432,w_648/v1471463440/Denise%20Website/listen_typo_dxdlrg.jpg" alt="Card image cap">
              <div class="card-block">  
                <h2 class="card-title">Typography</h2>
        				<p class="card-text">letterpress</p>
        			</div></a> 
        	</div>		
        </div><!--/span-->
        
       
       
  
        </div>
      </div>
  
 </body> 
</html>
