/* mixins, variables, etc. */
/* universal */
/* line 10, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
body {
  font-size: 16px;
  line-height: 21px;
  padding-top: 60px;
  background-color: #f9f9f9;
}

/* line 17, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
section {
  overflow: auto;
}

/* line 21, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
textarea {
  resize: vertical;
}

/* line 25, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
.center {
  text-align: center;
}
/* line 27, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
.center h1 {
  margin-bottom: 10px;
}

/* typography */
/* line 35, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
h1 {
  font-size: 200%;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Open Sans", normal, sans-serif;
  font-weight: bold;
}

/* line 43, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
h2 {
  font-size: 120%;
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

/* line 52, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
h3 {
  margin-top: 60px;
  margin-bottom: 30px;
  color: #262626;
  text-align: center;
  font-weight: normal;
  font-size: 210%;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

/* line 64, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
h4 {
  font-size: 90%;
  font-family: "Montserrat",sans-serif;
  line-height: 120%;
  font-weight: normal;
  text-align: center;
  color: #262626;
  text-transform: uppercase;
}

/* line 75, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
p {
  font-size: 100%;
  font-family: "Open Sans",sans-serif;
  line-height: 110%;
  font-weight: 300;
  text-align: justify;
  color: #000;
}

/* header */
/* line 89, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
.navbar-default {
  background-color: #181818;
  border-color: #181818;
}

/* line 94, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
.nav-collapse.collapse {
  height: auto !important;
  overflow: visible !important;
}

/* line 99, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
.navbar-brand a {
  text-decoration: none;
}

/* line 103, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
.navbar-collapse {
  background-color: #181818;
}

/* line 107, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
ul.navbar-nav.navbar-right a {
  color: #dcdcdc;
}
/* line 109, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
ul.navbar-nav.navbar-right a:hover {
  color: #ababab;
}

/* line 114, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
a {
  color: #dcdcdc;
}
/* line 116, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
a:hover {
  color: #ababab;
}

/* line 121, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
header.navbar.navbar-default.navbar-fixed-top {
  color: #000;
  margin-bottom: 0px;
  padding-top: 5px;
  height: 60px;
  border-bottom: 1px solid #181818;
}

/* footer */
/* line 132, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
footer {
  background-color: black;
  margin-top: 0px;
  padding-top: 5px;
  width: 100%;
  padding: 0px;
}

/* line 140, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
ul.social {
  padding-top: 25px;
  padding-bottom: 30px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
/* line 146, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
ul.social li {
  display: inline;
}
/* line 148, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
ul.social li a {
  margin-right: 15px;
  color: #fff;
  font-size: 1.4em;
}

/* line 157, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
a i.fa.fa-facebook.icon-2x:hover {
  color: #0000ff;
}

/* line 163, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
a i.fa.fa-instagram.icon-2x:hover {
  color: #ff1aff;
}

/* line 169, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
a i.fa.fa-linkedin.icon-2x:hover {
  color: #6666ff;
}

/* line 175, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
a i.fa.fa-twitter.icon-2x:hover {
  color: #6699ff;
}

/* line 182, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
p#copyright {
  padding-bottom: 45px;
  color: #cccccc;
  text-align: center;
  font-size: 0.60em;
  font-family: "Open Sans", sans-serif;
}

/*Application
*/
@media screen and (max-width: 767px) {
  /* line 194, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
  body {
    font-size: 1.4em;
  }
}
/* sm */
@media screen and (min-width: 768px) {
  /* line 201, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
  body {
    font-size: 1.5em;
  }
}
/* md */
@media screen and (min-width: 992px) {
  /* line 208, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
  body {
    font-size: 1.6em;
  }
}
/* lg */
@media screen and (min-width: 1200px) {
  /* line 215, /home/ubuntu/workspace/website/app/assets/stylesheets/custom.scss */
  body {
    font-size: 1.7em;
  }
}
