/* Home */
/* line 5, /home/ubuntu/workspace/website/app/assets/stylesheets/static_page.scss */
.center.jumbotron {
  width: 100%;
  height: 500px;
  position: relative;
}

/* line 11, /home/ubuntu/workspace/website/app/assets/stylesheets/static_page.scss */
.center.jumbotron {
  z-index: -1;
  padding-top: 0px;
  overflow: hidden;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  background-image: url("http://res.cloudinary.com/dmcdekker/image/upload/v1471463408/sky_final_zkriw5.jpg");
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

/* About */
/* line 29, /home/ubuntu/workspace/website/app/assets/stylesheets/static_page.scss */
.container-jumbotron {
  width: 75%;
  height: 60%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 37, /home/ubuntu/workspace/website/app/assets/stylesheets/static_page.scss */
.page-header {
  border-bottom: none;
}

/* line 41, /home/ubuntu/workspace/website/app/assets/stylesheets/static_page.scss */
div.row {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

/* line 48, /home/ubuntu/workspace/website/app/assets/stylesheets/static_page.scss */
div.col-md-4 {
  text-align: center;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}

/* line 58, /home/ubuntu/workspace/website/app/assets/stylesheets/static_page.scss */
.col-md-4 img.image-responsive {
  padding: 1px;
  border: 12px solid white;
  background-color: #cccccc;
  margin-top: 0px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

/* line 68, /home/ubuntu/workspace/website/app/assets/stylesheets/static_page.scss */
div.col-md-8 {
  margin-left: auto;
  margin-right: auto;
}

/* line 74, /home/ubuntu/workspace/website/app/assets/stylesheets/static_page.scss */
div.col-md-8 p {
  font-size: 1.10em;
  line-height: 1.35em;
  font-family: "Open Sans", sans-serif;
}

/* Work */
/* line 85, /home/ubuntu/workspace/website/app/assets/stylesheets/static_page.scss */
.card h2 {
  font-size: 1.3em;
  line-height: 1.65em;
  color: #7a7a7a;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 25px;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
}

/* line 100, /home/ubuntu/workspace/website/app/assets/stylesheets/static_page.scss */
.card p {
  font-size: 1.2em;
  line-height: 1.25em;
  text-align: center;
  text-transform: uppercase;
  color: #e8e8e8;
}

/* line 109, /home/ubuntu/workspace/website/app/assets/stylesheets/static_page.scss */
.card img.img-responsive {
  padding: 1px;
  border: 8px solid white;
  background-color: #e8e8e8;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* line 118, /home/ubuntu/workspace/website/app/assets/stylesheets/static_page.scss */
.card {
  padding: 0px;
}

/* line 123, /home/ubuntu/workspace/website/app/assets/stylesheets/static_page.scss */
.card .img {
  float: center;
}

@media screen and (max-width: 767px) {
  /* line 128, /home/ubuntu/workspace/website/app/assets/stylesheets/static_page.scss */
  body {
    font-size: 90%;
  }
}
/* sm */
@media screen and (min-width: 768px) {
  /* line 135, /home/ubuntu/workspace/website/app/assets/stylesheets/static_page.scss */
  body {
    font-size: 100%;
  }
}
/* md */
@media screen and (min-width: 992px) {
  /* line 142, /home/ubuntu/workspace/website/app/assets/stylesheets/static_page.scss */
  body {
    font-size: 120%;
  }
}
/* lg */
@media screen and (min-width: 1200px) {
  /* line 149, /home/ubuntu/workspace/website/app/assets/stylesheets/static_page.scss */
  body {
    font-size: 140%;
  }
}
