<!DOCTYPE html>
<html>
  <head>
    <% provide(:title, "4Bells") %>
    <%= stylesheet_link_tag "links", media: "all"%>
    <%= javascript_include_tag "application"%>
    <%= csrf_meta_tags %>
    
  </head>
  <body>
    <div class="container">
          <div class="page-header">
            <h3>4Bells</h3>
          </div>
          <div class="row">
            <div class="intro">
                <h2>Internship</h2>     
                    <p>4Bells is a first responder mobile application from Caravan Studios. 4Bells matches volunteers with time-sensitive tasks, like delivering important documents, picking up a dog from the pound, or deploying volunteers after a disaster. 
                    It enables group leaders to connect easily with volunteers, create tasks, and monitor who has signed up to complete tasks. As the Product Developer intern, my job was to redesign the UI and improve app functionality.
                    In addition, Caravan Studios wanted the app to incorporate web accessibility features. 
            
                    </p>
              <br>        
                     
                <h2>Challenges</h2>
                    <p>Still in progress!</p>
            <br>
              
              <h2>Tools Used</h2>
                    <p>MongoDB, Express, Angular, Node.js, CSS, Jade, Cloud 9, Bootstrap, and Heroku, plus the Agile process to plan and develop
                    our site.</p>
            <br>
                
            
                    <img src="http://res.cloudinary.com/dmcdekker/image/upload/v1488914916/Screen_Shot_2017-03-06_at_3.40.18_PM_lkgybx.png" alt="signup form" class="img-responsive" data-holder-rendered="true" style="height: 60%; width: 60%;  display: block;">
            <br>    
                    <img src="http://res.cloudinary.com/dmcdekker/image/upload/v1488914916/Screen_Shot_2017-03-06_at_3.40.06_PM_ngt14m.png" alt="login form" class="img-responsive" data-holder-rendered="true" style="height: 60%; width: 60%;  display: block;">
            <br>
                     <img src="http://res.cloudinary.com/dmcdekker/image/upload/v1488914917/Screen_Shot_2017-03-06_at_3.40.41_PM_zvi0ym.png" alt="screenshot of home page and slider menu" class="img-responsive" data-holder-rendered="true" style="height: 60%; width: 60%;  display: block;">
            <br>      
         </div>
                <div class="button">
                    <a class="button" href="http://vast-bayou-12609.herokuapp.com/" title="CitizensOrg" target="_blank">Visit Website<span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                    </div>
             </div>
        
        </div>
        
    </div>
 </div>    
  </body>
</html>
