<!DOCTYPE html>
<html>
  <head>
    <% provide(:title, "CitizensOrg") %>
    <%= stylesheet_link_tag "links", media: "all"%>
    <%= javascript_include_tag "application"%>
    <%= csrf_meta_tags %>
    
  </head>
  <body>
    <div class="container">
          <div class="page-header">
            <h3>CitizensOrg</h3>
          </div>
          <div class="row">
            <div class="intro">
                <h2>Project</h2>     
                    <p>A project for CS186 at Mills College, CitizensOrg is a web application that helps facilitates neighborhood political organizing. After the 2016
                    election, we wanted to create a tool that made political organizing easy; a platform where people could schedule meetings and share information.
                    Users will be able to login and post/find actionable events. An additional feature enables users to
                    look up their Congresspeople by zipcode.
            
                    </p>
              <br>        
                     
                <h2>Challenges</h2>
                    <p>Until this project, I had never used Jade in conjuntion with CSS, but found it to be easy to navigate. After experiencing FOUC with the user name,
                     I used ng-cloak in the html element tag, which resolved the problem. Also, styling Angular in a project was new to me, as was formatting
                      JSON items returned from an API query. </p>
            <br>
              
              <h2>Tools Used</h2>
                    <p>MongoDB, Express, Angular, Node.js, CSS, Jade, Cloud 9, Bootstrap, and Heroku, plus the Agile process to plan and develop
                    our site.</p>
            <br>
                
             
                    <img src="http://res.cloudinary.com/dmcdekker/image/upload/v1488914916/Screen_Shot_2017-03-06_at_3.40.18_PM_lkgybx.png" alt="signup form" class="img-responsive" data-holder-rendered="true" style="height: 60%; width: 60%;  display: block;">
            <br>  
 
                    <img src="http://res.cloudinary.com/dmcdekker/image/upload/v1488914916/Screen_Shot_2017-03-06_at_3.40.06_PM_ngt14m.png" alt="login form" class="img-responsive" data-holder-rendered="true" style="height: 60%; width: 60%;  display: block;">
            <br>
                    <img src="https://res.cloudinary.com/dmcdekker/image/upload/v1492138446/Screen_Shot_2017-04-13_at_7.51.23_PM_hqcb7i.png" alt="screenshot of home page and slider menu" class="img-responsive" data-holder-rendered="true" style="height: 60%; width: 60%;  display: block;">
            <br>
                     <img src="https://res.cloudinary.com/dmcdekker/image/upload/v1492138387/Screen_Shot_2017-04-13_at_7.52.10_PM_oe8geb.png" alt="screenshot of home page and slider menu" class="img-responsive" data-holder-rendered="true" style="height: 60%; width: 60%;  display: block;">
            <br>
            
            
            
            
            
            
         </div>
                <div class="button">
                    <a class="button" href="http://citizensorg.herokuapp.com/" title="CitizensOrg" target="_blank">Visit Website<span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                    </div>
             </div>
        
        </div>
        
    </div>
 </div>    

  </body>
</html>
