<!DOCTYPE html>
<html>
  <head>
    <% provide(:title, "Maps") %>
    <%= stylesheet_link_tag "links", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    
   </head>
   
   <body>
      <div class="container">
          <div class="page-header">
            <h3>Maps</h3>
          </div>
        <div class="row">
            <div class="intro">
                <h2>GIS</h2>     
                    <p>Using Leaflet and QGIS, I created maps of Madrid, Oakland poverty levels, and mapped data from Oakland's shotspotters.
                     
                    </p>
            <br>
                
                
                    
                        
            </div>
                <div class="button">
                    <a class="button" href="http://soc128-2016.wikidot.com/ddd:home" title="Maps" target="_blank">Visit Website <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                    </div>
             </div>
     </div> 
 </body>
</html>   
    
    
