<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "links", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <% provide(:title, "Work | SisterWeb") %>
  </head>
  <body>
      <div class="container">
        <div class="link">
            <section class="jumbotron text-xs-center">
              <div class="container">
                <h3 class="jumbotron-heading">SisterWeb</h3>
              </div>
            </section>
        <div class="row">
            <div class="intro">
                <p>SisterWeb was the first web project I worked on in a software engineering class at Mills College. SisterWeb was 
                 born from our groups' desire to have a platform where women in tech could interact, connect, and find support. For our final
                 project, the goal was to produce a social website that users could log into and interact with each other using direct log in and third-party authentication. 
                 
                </p>
            <br>
                
                <h2>Challenges</h2>
                    <p>As the Front End Developer, each page was styled as it came in. There was no formal CSS/HTML instruction; I learned everything on the fly. 
                     About a month into the project, I realized that I hadn’t formatted Bootstrap correctly in the application file, so the 
                     entire site ended up being entirely hand coded. Also, for the allotted timeframe of a semester, we definitely bit off more
                     that we had time to complete! In the beginning, we devised a much more complex site than we ended up producing.</p>
            <br>
                <h2>Tools Used</h2>
                    <p>In addition to Ruby on Rails, CSS, HAML, Cloud 9, Pivotal Tracking, and Heroku, we used the Agile process to plan and develop
                    our site.</p>
            <br>
                <h2>Final Result</h2>
                    <p>Overall, the website turned out well with good functionality.</p>
            <br>        
                <h2>
                  Home Page
                <br> 
                </h2>
                    <img data-src="../assets/sisterweb.jpg" alt="home" class="img-responsive" src="../assets/sisterweb.jpg" data-holder-rendered="true" style="height: 60%; width: 60%;  display: block;">
            <br>    
                <h2>
                  User Index Page
                <br>
                </h2>
                    <img data-src="../assets/index.jpg" alt="index" class="img-responsive" src="../assets/index.jpg" data-holder-rendered="true" style="height: 60%; width: 60%;  display: block;">
            <br>    
                     
                    
                        
            </div>
                <div class="button">
                    <a class="button" href="https://young-reef-29553.herokuapp.com/staticpages/home" title="SisterWeb" target="_blank">Visit Website <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                </div>
         </div>
     </div> 
  </body>