<!DOCTYPE html>
<html lang='en'>
  <head>
    <% provide(:title, "SisterWeb") %>  
    <%= stylesheet_link_tag "links", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    
  
  </head>
  <body>
      <div class="container">
          <div class="page-header">
            <h3>SisterWeb</h3>
          </div>
        <div class="row">
            <div class="intro">
                <h2>Project</h2>     
                    <p>SisterWeb was born from our groups' desire to have a platform where women in tech could interact, connect, and find support. For our final
                     project, the goal was to produce a social website that users could log into and interact with each other using direct log in or third-party authentication. 
                     Using the Agile process, we implemented User Stories that centered around creating profiles, a calendar, and a way to create questions or comments
                     that individual users could interact with.
                     
                    </p>
            <br>
                
                <h2>Challenges</h2>
                    <p>As the Front End Developer, each page was styled as it came in. There was no formal CSS/HTML instruction; I learned everything on the fly. 
                     About a month into the project, I realized that I hadn’t formatted Bootstrap correctly in the application file, so the 
                     entire site ended up being entirely hand coded. Also, for the allotted timeframe of a semester, we definitely bit off more
                     that we had time to complete! In the beginning, we devised a much more complex site than we ended up producing. I additionally
                     filled the role of Product Manager, keeping our team on track with its goals and documenting progress via Pivotal Tracker.</p>
            <br>
                <h2>Tools Used</h2>
                    <p>In addition to Ruby on Rails, CSS, HAML, Cloud 9, Pivotal Tracker, Piazza, and Heroku, we used the Agile process to plan and develop
                    our site.</p>
            <br>
                <h2>Final Result</h2>
                    <p>Overall, the website turned out well with good functionality and we achieved all the goals outlined within our User Stories. </p>
            <br>
          
                    <img src="http://res.cloudinary.com/dmcdekker/image/upload/v1471463441/sisterweb_mhcong.jpg" alt="home" class="img-responsive" data-holder-rendered="true" style="height: 60%; width: 60%;  display: block;">
            <br>    
                    <img src="http://res.cloudinary.com/dmcdekker/image/upload/c_scale,w_1429/v1471463441/index_aibcl0.jpg" alt="index" class="img-responsive" data-holder-rendered="true" style="height: 60%; width: 60%;  display: block;">
            <br>    
                     
                    
                        
            </div>
                <div class="button">
                    <a class="button" href="https://young-reef-29553.herokuapp.com/staticpages/home" title="SisterWeb" target="_blank">Visit Website<span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                    </div>
             </div>
     </div> 
 </body>
</html> 
  
  