<!DOCTYPE html>
<html>
  <head>
    <% provide(:title, "Typography") %>
    <%= stylesheet_link_tag "links", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "custom", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    
      
    
  </head>
  <body>
    <div class="container">
          <div class="page-header">
            <h3>Typography</h3>
          </div>
          <div class="row">
            <div class="intro">
              <h2>Broadsheet</h2>
                  <p>Designed by Giambattista Bodoni in the late 18th century, the Bodoni typeface heralded a growing departure away from the flourishes of the Baroque period and into the Rococo period. 
                  Inspired by Pierre Didot, whose eponymous typeface exuded simplicity, Bodoni’s cleaner, mathematically precise Roman-style type materialized as “obsessively vertical” with starker contrasting.  
                  As the Age of Enlightenment progressed, logic, scientific reasoning and accuracy gained in popularity. New typeface design reflected changing aesthetics and the advent of Modern classification 
                  for typography. As a distinguished printer for royalty, Bodoni type was used primarily for books; Homer’s Iliad was one of Bodoni’s finished masterpieces. My broadsheet incorporated the stylistic 
                  leanings of Bodoni: clean execution for readability, variance in type size, some simple lines, and hierarchy using Bodoni Book typeface. The passage from Beatrice Warde’s essay about typography, 
                  The Crystal Goblet, was a fitting homage to the savant purism exhibited in Bodoni’s work.</p> 
              <br>
              <h2>Avant Garde</h2>
                  <p>Piet Zwart, a dutch designer and typographer, whose work conveyed strong diagonals and intentional asymmetry, evolved in tandem with the Bauhaus movement. Using type and composition with 
                  primary colors, Zwart came of age with the early 20th century De Stijl movement in the Netherlands, with Theo van Doesburg, another typographist, Piet Mondrian, and architect Gerrit Reitveld. 
                  Characterized by abstraction, form, and color, artists of De Stijl primarily advocated for horizontal and vertical lines, and rectangular forms, focusing on “the perfect straight line”. This print
                  was imagined as a protest piece, specifically in response to Mills' decision in fall, 2015, that announced the termination of several valuable
                  arts programs, including the Book Art minor. Fortunately, to date the program has survived.</p>
              <br>
              <h2>Edition Booklet</h2>
                 <p>As an homage to the work rules of John Cage and Sister Corita Kent, I created this booklet, 'A Make Manifesto", using a variety of
                  typefaces and experimental styles. Cage’s lover and life partner, Merce Cunningham, kept a copy of ‘the rules’ 
                  posted in his studio on Bethune Street in New York City. In addition to Kent and Cage, my visual inspiration was 
                  drawn from avant garde typographists, such as Marinetti, and also from the manifestos produced by De Stijl, Futurist, 
                  and Constructivists. Each design is a full page spread made with Fabriano paper.</p>
                <br>
                
  
                  
                  <div class="row">
                    <div class="col-lg-6">
                      <a href="#"><img src="http://res.cloudinary.com/dmcdekker/image/upload/v1471463621/listen2_ew4u7f.jpg" alt="home" class="thumbnail img-responsive"></a>
                      </div>
                
                    <div class="col-lg-6">
                      <a href="#"><img src="http://res.cloudinary.com/dmcdekker/image/upload/v1471463622/experiment_uxk08m.jpg" alt="home" class="thumbnail img-responsive"></a>
                      </div>
                  
                    <div class="col-lg-6">
                      <a href="#"><img src="http://res.cloudinary.com/dmcdekker/image/upload/v1471463622/question_dxgccr.jpg" class="thumbnail img-responsive"></a>
                      </div>
                  
                    <div class="col-lg-6">
                      <a href="#"><img src="http://res.cloudinary.com/dmcdekker/image/upload/v1471463622/x_xtpalx.jpg" alt="home" class="thumbnail img-responsive"></a>
                      </div>
                  
                    <div class="col-lg-6"><a href="#"><img src="http://res.cloudinary.com/dmcdekker/image/upload/v1471463622/mistake_m46qkb.jpg" alt="home" class="thumbnail img-responsive"></a>
                    </div>
                  </div>
                </div>
           
    </div>
  </div>  

  </body>
</html>