<!DOCTYPE html>
<html>
  <head>
    <% provide(:title, "UX") %>
    <%= stylesheet_link_tag "links", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    
    
      
   </head>
   <body>
       <div class="container">
          <div class="page-header">
            <h3>User Experience</h3>
          </div>
        <div class="row">
            <div class="intro">
                <h2>Project</h2>     
                    <p>To develop a compelling ecommerce site that provides detailed, expert information 
                    to customers who want to purchase developmentally appropriate and educational toys for 
                    children [individuals] aged 0 to 99.
                    
                     
                    </p>
            <br>
                <h2>Research</h2>
                    <p>In order to evaluate the potential success of our project, we examined the
                    anatomy of the modern educational toy website and surveyed fifty-five participants.
                    Specifically, we were interested in people's motivation for purchasing toys online.
                    According to our survey results, a high percentage of respondents still bought toys 
                    in brick and mortar stores, which gave us the green light to move forward. Respondents 
                    also told us what was important to them: customer reviews over expert recommendations, 
                    quick and easy checkout, and products ranked by customer recommendation. These responses 
                    formed the core of us creating a user-friendly website

                    </p>
                    
                <h2>Personas</h2>
                    <p>Based on the profiles of participants from the data collected, we created personas to understand the varying needs of potential customers.
                      For example, the professional who wants to buy quality toys for her nephews and nieces, or the single mom who doesn't have time
                      to shop, or grandparents who need hints.
                    </p>
                    <br>
                  
                   <div class="container-fluid"
                       <div class="row">
                            <div class="col-xs-6 col-lg-4">
                                <a href="#gallery" data-slide-to="0"><img src="http://res.cloudinary.com/dmcdekker/image/upload/c_scale,h_663,w_900/v1471495336/Dekker_persona_HW2.pdf_dk0ent.png" data-toggle="modal" data-target="#myModal" class="thumbnail img-responsive"></a>
                            </div>
                            <div class="col-xs-6 col-lg-4">
                                <a href="#gallery" data-slide-to="1"><img src="http://res.cloudinary.com/dmcdekker/image/upload/c_scale,w_900/v1471495326/HW2Higgs_a2xnwo.jpg" data-toggle="modal" data-target="#myModal" class="thumbnail img-responsive"></a>
                            </div>
                            <div class="col-xs-6 col-lg-4">
                                <a href="#gallery" data-slide-to="2"><img src="http://res.cloudinary.com/dmcdekker/image/upload/c_scale,h_877,w_1191/v1471557548/oaggin_persona_ho7wxw.jpg" data-toggle="modal" data-target="#myModal" class="thumbnail img-responsive"></a>
                            </div>
            
                        </div>
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </div>
                                    <div class="modal-body">
                                        <div id="gallery" class="carousel slide" data-interval="false">
                                            <div class="carousel-inner">
                                                <div class="item active">
                                                    <img src="http://res.cloudinary.com/dmcdekker/image/upload/c_scale,h_663,w_900/v1471495336/Dekker_persona_HW2.pdf_dk0ent.png" alt="item1">
                                                </div>
                                                <div class="item">
                                                    <img src="http://res.cloudinary.com/dmcdekker/image/upload/c_scale,w_900/v1471495326/HW2Higgs_a2xnwo.jpg" alt="item2">
                                                </div>
                                                <div class="item">
                                                    <img src="http://res.cloudinary.com/dmcdekker/image/upload/c_scale,h_877,w_1191/v1471557548/oaggin_persona_ho7wxw.jpg" alt="item3">
                                                </div>
                                            </div> 
                                            <a class="left carousel-control" href="#gallery" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                                            <a class="right carousel-control" href="#gallery" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                                          </div>
                                    </div>
                                </div>
                            </div>
                       </div>
                      </div> 
              
                          
                <h2>Use Model</h2>
                    <p>
                        
                    </p>
            <br>
                <h2>Tools Used</h2>
                    <p>Axure, Google Forms, Google draw-io.</p>
            <br>
                <h2>Prototype</h2>
                    <p>To present the website in a professional manner, we used Wix.com to mock up the pages, which were
                    then copied to a prototype using Azure.</p>
                    
                    
            <br>
                <h2>Final Result</h2>
                    <p>Overall, the website turned out well with good functionality and we achieved all the goals outlined within User Stories. </p>
            <br>
          
                
                    
                        
            </div>
                <div class="button">
                    <a class="button" href="http://3fahag.axshare.com/#g=1&p=home&c=1" title="UX" target="_blank">Visit Website <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                    </div>
             </div>
     </div> 
       
   </body>
</html> 