<!DOCTYPE html>
<html>
  <head>
    <% provide(:title, "UX") %>
    <%= stylesheet_link_tag "links", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    
      
   </head>
   <body>
       <div class="container">
          <div class="page-header">
            <h3>Maps</h3>
          </div>
        <div class="row">
            <div class="intro">
                <h2>Project</h2>     
                    <p>To develop a compelling ecommerce site that provides detailed, expert information 
                    to customers who want to purchase developmentally appropriate and educational toys for 
                    children [individuals] aged 0 to 99.
                    
                     
                    </p>
            <br>
                <h2>Research</h2>
                    <p>In order to evaluate the potential success of our project, we examined the
                    anatomy of the modern educational toy website and surveyed fifty-five participants.
                    Specifically, we were interested in people's motivation for purchasing toys online.
                    According to our survey results, a high percentage of respondents still bought toys 
                    in brick and mortar stores, which gave us the green light to move forward. Respondents 
                    also told us what was important to them: customer reviews over expert recommendations, 
                    quick and easy checkout, and products ranked by customer recommendation. These responses 
                    formed the core of us creating a user-friendly website

                    </p>
                    
                <h2>Persona</h2>
                    <p>Based on the profiles of participants, we created personas.
                    </p>
                    <div class="row">
                        <div class="col-xs-6 col-lg-4 card">
                            <h4>Single Person</h4> 
                            <img src="http://res.cloudinary.com/dmcdekker/image/upload/c_scale,h_663,w_900/v1471495336/Dekker_persona_HW2.pdf_dk0ent.png" alt="single" class="img-responsive" data-holder-rendered="true" style="height: 100%; width: 100%; display: block;">
                        </div><!--/span-->
                        <div class="col-xs-6 col-lg-4 card">
                            <h4>Older Single</h4> 
                            <img src="http://res.cloudinary.com/dmcdekker/image/upload/c_scale,w_900/v1471495326/HW2Higgs_a2xnwo.jpg" alt="older" class="img-responsive" data-holder-rendered="true" style="height: 100%; width: 100%; display: block;">
                        </div><!--/span-->
                        <div class="col-xs-6 col-lg-4 card">
                            <h4>Older Single</h4> 
                            <img src="http://res.cloudinary.com/dmcdekker/image/upload/c_scale,h_663,w_900/v1471495327/OP_CS180UXUIDesign_HW2v2_better_ffvaxg.pdf" alt="married" class="img-responsive" data-holder-rendered="true" style="height: 100%; width: 100%; display: block;">
                        </div><!--/span-->
                    </div>    
            
                <h2>Use Model</h2>
                    <p>
                        
                    </p>
            <br>
                <h2>Tools Used</h2>
                    <p>Axure, Google Forms, Google draw-io.</p>
            <br>
                <h2>Prototype</h2>
                    <p>To present the website in a professional manner, we used Wix.com to mock up the pages, which were
                    then copied to a prototype using Azure.</p>
                    
                    
            <br>
                <h2>Final Result</h2>
                    <p>Overall, the website turned out well with good functionality and we achieved all the goals outlined within User Stories. </p>
            <br>
          
                
                    
                        
            </div>
                <div class="button">
                    <a class="button" href="http://3fahag.axshare.com/#g=1&p=home&c=1" title="UX" target="_blank">Visit Website <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                    </div>
             </div>
     </div> 
       
   </body>
</html> 