@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/*Application
*/

html{
    
}

body {
  font-size: 15px;
  line-height: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  height: 100vh;
}


@media screen and (max-width: 767px) {
    body {
        font-size: 0.8em;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.2em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.4em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.6em;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}      

     

