/* mixins, variables, etc. */

$gray-medium-light: #dcdcdc;

/* universal */

html, body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}

body {
  font-size: 16px;
  line-height: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: white;
}

section {
  overflow: auto;
}

textarea {
  resize:vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */


h1 {
  font-size: 200%;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Roboto", normal, sans-serif;
  font-weight: 550;
}

h2 {
  font-size: 120%;
  line-height: 150%;
  margin-bottom: 10px;
  text-align: left;
  font-family: "Roboto", sans-serif;
}


h3{
  margin-top: 60px;
  margin-bottom: 30px;
  color: #262626;
  text-align: center;
  font-weight: normal;
  font-size: 240%;
  letter-spacing: 2px;
  padding-bottom: 20px;
}


h4{
  font-size: 90%;
  font-family: "Roboto",sans-serif;
  line-height: 120%;
  font-weight: normal;
  text-align: center;
  color: #262626;
  text-transform: uppercase;
}


p {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  line-height: 130%;
  font-weight: 300;
  text-align: justify;
  color: #000;
   color: #262626;
  margin-bottom: 20px;
}


/* header */

.navbar-default {
    text-align: center;
    background-color: #181818;
    border-color: #181818;
}

.navbar-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
    
}

.navbar-brand a{
  text-decoration: none;
  font-size: 1.6em;
}

.navbar-collapse {
  background-color: #181818;
  width: 30%;
  float: right;
  border: none;
}

ul.navbar-nav.navbar-right a{
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  font-weight: light;
  font-size: 11px;
  letter-spacing: .5px;
  color: #dcdcdc;
  &:hover {
    color: #a3a3c2;
  }
}

logo.navbar-brand a{
  font-size: 15px;
  color: #dcdcdc ;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  font-weight: light;
  letter-spacing: 1px;
  &:hover {
    color: #a3a3c2;
  }
}

a {
    color: #808080;
    text-decoration: none;
    &:hover {
    color: #a3a3c2;
  }
}

header.navbar.navbar-default.navbar-fixed-top{
  color: #000;
  margin-bottom: 0px;
  padding-top: 5px;
  height: 60px;
  border-bottom: 1px solid #181818;
}

/* footer */


footer {
  background-color: black;
  padding-top: 0px;
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

ul.social{
  padding-top: 25px;
  padding-bottom: 30px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
 li{
  display: inline;
a{
  margin-right: 15px;
  color: #fff;
  font-size: 1.4em;
 }  
}
}

a i.fa.fa-github.icon-2x{
  &:hover{
    color: #0000ff;
  }
}

a i.fa.fa-instagram.icon-2x{
  &:hover{
    color: #ff1aff;
  }
}

a i.fa.fa-linkedin.icon-2x{
  &:hover{
    color: #6666ff;
  }
}

a i.fa.fa-twitter.icon-2x{
  &:hover{
    color: #6699ff;
  }
}



p#copyright{
  padding-bottom: 30px;
  color: #cccccc;
  text-align: center;
  font-size: 0.60em;
  font-family: "Open Sans", sans-serif;
  
}

/*Application
*/
@media screen and (max-width: 767px) {
  .navbar .nav-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
    
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
    body {
        font-size: 1.4em;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.5em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.6em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.7em;
    }
}



/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.5em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.6em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.7em;
    }
}
