
/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  font-size: 16px;
  line-height: 20px;
  padding-top: 60px;
  background-color: whitesmoke;
}

section {
  overflow: auto;
}

textarea {
  resize:vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */


h1 {
  font-size: 200%;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Open Sans", normal, sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 135%;
  margin-bottom: 10px;
  color: #4d4d4d;
  text-align: left;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}


h3{
  margin-bottom: 10px;
  color: #4d4d4d;
  text-align: center;
  font-weight: normal;
  font-size: 210%;
  letter-spacing: 1px;
  font-family: "Montserrat",sans-serif;
  padding-bottom: 20px;
}

p {
  font-size: 100%;
  font-family: "Open Sans",sans-serif;
  line-height: 110%;
}


/* header */

.navbar-default {
    background-color: whitesmoke;
    border-color: whitesmoke;
}

.nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
}

.navbar-brand a{
  text-decoration: none;
}

.navbar-collapse {
  background-color: whitesmoke;
}

a {
    color: #666666;
    &:hover {
    color: #3d4143;
  }
}

header.navbar.navbar-default.navbar-fixed-top{
  margin-bottom: 0px;
  padding-top: 5px;
  height: 60px;
  border-bottom: 1px solid #e6e6e6;
}

/* footer */


footer {
  background-color: black;
  margin-top: 0px;
  padding-top: 5px;
  width: 100%;
  padding: 0px;
}

ul.social{
  padding-top: 25px;
  padding-bottom: 30px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
 li{
  display: inline;
a{
  margin-right: 15px;
  color: white;
  font-size: 1.4em;
 }  
}
}

a i.fa.fa-facebook.icon-2x{
  &:hover{
    color: #0000ff;
  }
}

a i.fa.fa-instagram.icon-2x{
  &:hover{
    color: #ff1aff;
  }
}

a i.fa.fa-linkedin.icon-2x{
  &:hover{
    color: #6666ff;
  }
}

a i.fa.fa-twitter.icon-2x{
  &:hover{
    color: #6699ff;
  }
}



p#copyright{
  padding-bottom: 45px;
  color: #cccccc;
  text-align: center;
  font-size: 0.60em;
  font-family: "Open Sans", sans-serif;
  
}

/*Application
*/
@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.2em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.4em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.6em;
    }
}

