@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize:vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */


h1 {
  font-size: 2.0em;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Open Sans", normal, sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 1.3em;
  margin-bottom: 10px;
  color: #4d4d4d;
  text-align: left;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}


h3{
  margin-bottom: 10px;
  color: #4d4d4d;
  text-align: center;
  font-weight: normal;
  font-size: 2.6em;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 1.1em;
  font-family: "Open Sans", sans-serif;
}


/* header */

.navbar-default {
    background-color: white;
    border-color: white;
}

.nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
}

.navbar-brand a{
  text-decoration: none;
}

.navbar-collapse {
  background-color: white;
}

a {
    color: #666666;
    &:hover {
    color: #3d4143;
  }
}

header.navbar.navbar-default.navbar-fixed-top{
  margin-bottom: 0px;
  padding-top: 5px;
  height: 60px;
}

/* footer */


footer {
  background-color: black;
  margin-top: 0px;
  padding-top: 5px;
  width: 100%;
  padding: 0px;
}

ul.social{
  padding-top: 25px;
  padding-bottom: 30px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
 li{
  display: inline;
a{
  margin-right: 15px;
  color: white;
  font-size: 1.4em;
 }  
}
}

p#copyright{
  padding-bottom: 45px;
  color: #cccccc;
  text-align: center;
  font-size: 0.60em;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

/*Application
*/
@media screen and (min-width: 544px) {
    body {
        font-size: 0.9em;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.2em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.4em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.6em;
    }
}

