

/* typography */

h1, h2, h3, h4, h5, h6 {
  color: #4d4d4d;
}

.page-header{
  border-bottom: none;
}

h1 {
  font-size: 2.0em;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Open Sans", normal, sans-serif;
  font-weight: bold;
}



.intro h2 {
  color: #262626;
  font-size: 120%;
  line-height: 150%;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}


h3{
  color: #262626;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.5px;
}



div.row{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.intro p {
  font-size: 1.0em;
  line-height: 1.90em;
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-weight: 400;
}

img.img-responsive{
  box-shadow: 0px 0px 15px #cccccc;
  -moz-box-shadow: 0px 0px 5px #cccccc;
  -webkit-box-shadow: 0px 0px 5px #cccccc;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}



/* SisterWeb */

div.button{
  margin-top: 40px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: bold;
  text-transform: uppercase;
}

a.button {
    color: #000;
    border-radius: 50px;
    border: 1px solid #000;
    padding: 7px;
    background-color: #fff;
    &:hover {
    color: #939393;
    text-decoration: none;
    border: 1px solid #939393;
  }
}

div.col-lg-6{
  margin-left: auto;
  margin-right: auto;
  
}


/* Links */

.carousel-control.left,.carousel-control.right{
  background-image:none;
  
}

.carousel-control.left {margin-left: -100px; color: white;}
.carousel-control.right {margin-right: -100px; color: white;}

.btn{
  padding: 2px 5px;
  font-size: 14px;
}

button.btn.btn-secondary{
  float: right;
  &:hover{
  color: white;
  }
}

.carousel-inner .item img{
  margin-right: 0px;
}

.modal-backdrop.in {
	opacity: 0.16 !important;
}


@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.2em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.4em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.6em;
    }
}

/*Map
*/

#mapid{
    width: 100%;
    height: 700px;
}

#page-header{
  border-bottom: 0px;  
}

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
	/* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
	-webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
	-moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
	-o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
	transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}

