

/* typography */

h1, h2, h3, h4, h5, h6 {
  color: #4d4d4d;
}

.page-header{
  border-bottom: none;
}

h1 {
  font-size: 2.0em;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Open Sans", normal, sans-serif;
  font-weight: bold;
}



.intro h2 {
  color: #262626;
  font-size: 120%;
  line-height: 1.65em;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}


h3{
  color: #262626;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}





div.row{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.intro p {
  font-size: 1.10em;
  line-height: 1.35em;
  font-family: "Open Sans", sans-serif;
  
}

img.img-responsive{
  padding: 1px;
  border: 12px solid white;
  background-color: #cccccc;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* SisterWeb */

div.button{
  margin-top: 40px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: bold;
  text-transform: uppercase;
}

a.button {
    color: #000;
    border-radius: 50px;
    border: 1px solid #000;
    padding: 7px;
    background-color: #fff;
    &:hover {
    color: #939393;
    text-decoration: none;
    border: 1px solid #939393;
  }
}

div.col-lg-6{
  margin-left: auto;
  margin-right: auto;
  
}


/* Links */

.col-lg-3 .col-sm-4 .col-6{
  text-align: center;
}


@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.2em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.4em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.6em;
    }
}

