

/* typography */

h1, h2, h3, h4, h5, h6 {
  color: #4d4d4d;
}

h1 {
  
  font-size: 2.0em;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Open Sans", normal, sans-serif;
  font-weight: bold;
}

.intro h2 {
  color: #4d4d4d;
  font-size: 1.3em;
  line-height: 1.65em;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}


h3{
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  font-size: 2.5em;
  font-family: "Montserrat", sans-serif;
}



.jumbotron.text-xs-center {
    padding: 30px;
    margin-bottom: 10px;
    color: inherit;
    background-color: white;
    h3{
      letter-spacing: 1px;
      color: #4d4d4d;
      text-align: center;
    }
}

div.row{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.intro p {
  font-size: 1.10em;
  line-height: 1.35em;
  font-family: "Open Sans", sans-serif;
  
}

img.img-responsive{
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* SisterWeb */

div.button{
  margin-top: 40px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: bold;
  text-transform: uppercase;
}

a.button {
    color: #666666;
    &:hover {
    color: #3d4143;
    text-decoration: none;
  }
}

div.col-lg-6{
  margin-left: auto;
  margin-right: auto;
  
}


@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.2em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.4em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.6em;
    }
}

