@import "bootstrap-sprockets";
@import "bootstrap";

/* home */

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: "Helvetica Neue";
}

h1 {
  font-size: 2.4em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.4em;
  margin-bottom: 5px;
  text-align: left;
  font-weight: normal;
}

h3.jumbotron-heading {
  font-size: 2.3em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 1.95em;
  
}

.center.jumbotron{
    width: 100%;
    height: 650px;
    position: relative;
}

.center.jumbotron{
    z-index: -1;
    padding-top: 0px;
    background-size:cover;
    overflow: hidden;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    background-image: url("sky.JPG");
    background-position: 0% 25%;
    background-size: cover;
    background-repeat:no-repeat;
}

.container-jumbotron{
  width: 75%;
  height: 60%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}


div.row{
    width: 95%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.img-fluid{
  margin-left: 30px;
  margin-right: 15px;
  width: 200px;
}

div.col-md-4{
  width: 275px;
}

.jumbotron.text-xs-center {
    padding: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: white;
}

.col-md-8 p{
  font-size: 1.60em;
  text-align: justify;
}