<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "custom", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

<footer class="footer">
      <div class= "container"> 
        <nav>
          <ul class= "social">
            <li>
              <a href="https://github.com/dmcdekker" target="_blank">
                <i class="fa fa-github icon-2x"></i></a></li>
            <li>
              <a href="http://instagram.com/dmcdekker" target="_blank">
                <i class="fa fa-instagram icon-2x"></i></a></li>
            <li>
              <a href="http://www.linkedin.com/in/denise-m-dekker-64538a5" target="_blank">
                <i class="fa fa-linkedin icon-2x"></i></a></li>
            <li>
              <a href="http://twitter.com/dmcdekker" target="_blank">
                <i class="fa fa-twitter icon-2x"></i></a></li>
          </ul>
        </nav>
        <p id="copyright">© 2016 Denise M. Dekker. All rights reserved.</p>
     </div>
  </footer>
